version: "3.9"

services:

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: clinic_management_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - persistence-network

  rabbitmq:
     image: rabbitmq:3-management
     container_name: rabbitmq
     ports:
      - "5672:5672"
      - "15672:15672"
     networks:
        - messaging-network

  interface_usuarios:
    container_name: interface_usuarios
    build: ./interfaces/interface_usuarios
    ports:
      - "5001:5001"
    environment:
      - SERVICO_HOST=servico_usuarios
      - SERVICO_PORT=6001
    depends_on:
      - servico_usuarios
    networks:
        - persistence-network

  interface_agendamento:
    build: ./interfaces/interface_agendamento
    ports:
      - "5002:5002"
    environment:
      - SERVICO_HOST=servico_agendamento
      - SERVICO_PORT=6002
    depends_on:
      - servico_agendamento

  notification-service:
    container_name: notification-service
    build: ./servicos/servico_notificacoes
    depends_on:
      - postgres
      - rabbitmq
    networks:
        - persistence-network
        - messaging-network

  servico_usuarios:
    build: ./servicos/servico_usuarios
    container_name: servico_usuarios
    environment:
      DB_HOST: postgres
      DB_NAME: clinic_management_db
      DB_USER: admin
      DB_PASSWORD: admin123
      DB_PORT: 5432
    ports:
      - "6001:6001"
    depends_on:
      - postgres
    volumes:
      - ./servicos/servico_usuarios:/app
    networks:
      - persistence-network


  servico_agendamento:
    build: ./servicos/agendamento
    ports:
      - "6002:6002"

networks:
  persistence-network:
    driver: bridge
    
  messaging-network:
    driver: bridge

